{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-5'>
            {% if my_profile.profile.profile_picture %}
                <img src='{{ my_profile.profile.profile_picture.url }}' class="img-responsive img-rounded" width="300"/>
            {% endif %}
        </div>
        <div class='col-md-4'>
            <h2>{{ my_profile.username }}</h2>
            <h3>{{ my_profile.email }}</h3>
        </div>
    </div>

    <div class='row'>
        <div class='row'>
            <div class='col-md-4'>
                <h3>{{ my_profile.username }}'s Tags</h3>
                    {% for tag in tags %}
                        <li class='list-group-item'>
                            {{ tag.name }}
                            <span class="">
                                <a href=''></a>
                            </span>
                            <!-- <span class="badge"></span> -->
                        </li>
                    {% endfor %}
            </div>
        </div>
    </div>

</div>


{% endblock %}
